ul,
ol {
  list-style-type: none; /* скинули всі маркери у списках від браузера */
}

a {
  text-decoration: none; /* скинули підкреслення у посилань */
}

button {
  cursor: pointer; /* змінили курсор на пальчик при наведенні на кнопку */
}
