:root {
  --black: #111;
  --orange: #fd9222;
  --light-orange: #fcf1e0;
  --violet: #1e1823;
  --white: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0; /* скинули зовнішні відступи у заголовків */
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0; /* скинули зовнішні відступи у списках */
  padding-left: 0; /* скинули внутрішні відступи у списках від браузера */
  list-style-type: none; /* скинули всі маркери у списках від браузера */
}

a {
  color: inherit; /* успадковуємо колір тексту від батьківського елементу */
  text-decoration: none; /* скинули підкреслення у посилань */
}

button {
  cursor: pointer; /* змінили курсор на пальчик при наведенні на кнопку */
}

img {
  display: block; /* зробили картинки блочними елементами */
}

body {
  margin: 0; /* скинули зовнішні відступи у браузера */
  font-family: 'Montserrat', sans-serif; /* підключили шрифт */
  line-height: 1.5; /* базовий міжрядковий інтервал */
  color: var(--black); /* базовий колір тексту */
  background-color: #fafafa; /* базовий колір фону */
}

.container {
  max-width: 1168px; /* максимальна ширина контейнера */
  margin-right: auto; /* автоматичний відступ справа */
  margin-left: auto; /* автоматичний відступ зліва */
  padding-right: 16px; /* внутрішній відступ справа */
  padding-left: 16px; /* внутрішній відступ зліва */
}

.accent-color {
  color: #fd9222;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.section-paddings {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* =============HEADER================= */

.page-navigation {
  align-items: center; /* вирівнюємо елементи по вертикалі */
  display: flex;
  justify-content: space-between; /* рівномірно розподіляємо елементи по ширині */
}

.page-logo {
  color: var(--black);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: -0.03em;
}

.menu {
  display: flex; /* вирівнюємо елементи горизонтально */
  column-gap: 24px; /* відстань між елементами */
}

.text-italic {
  font-style: italic;
}

.menu-link {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--orange);
}

/* ================HERO==================== */

.hero {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--violet);
  color: var(--white);
  border-radius: 30px;
}

.hero-content {
  padding-top: 381px;
  padding-bottom: 40px;
  padding-left: 56px;
  padding-right: 56px;
}

.main-hero {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--white);
}
.main-title {
  max-width: 484px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}

.hero-content-wrapper {
  display: flex;
  align-items: center;
}

.buy-now-btn {
  min-width: 144px;
  height: 45px;
  padding: 14px 40px;
  font-weight: 600;
  font-size: 14px;
  color: var(--white);
  background: var(--orange);
  border: none;
  border-radius: 100px;
  margin-right: 14px;
}

.buy-now-btn:hover,
.buy-now-btn:focus {
  background-color: var(--light-orange);
  color: var(--orange);
}

.how-made-link {
  font-size: 14px;
  font-weight: 600;
}

.how-made-link:hover,
.how-made-link:focus {
  color: var(--orange);
}

.scroll-down-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin-left: auto;
}

.scroll-down-link:hover,
.scroll-down-link:focus {
  color: var(--orange);
}

/* ============ BENEFITS STYLES ============ */
.benefits-list-title {
  font-size: 18px;
  font-weight: 600;
}

.benefits-list-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* ============ INGREDIENTS STYLES ============ */
.ingredients-description {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}

.ingredients-list-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/* ============ HOW MADE STYLES ============ */
.how-made-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}

.how-made-list-item {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* ============ REVIEWS STYLES ============ */

.reviews {
  padding-bottom: 100px;
}

.reviews-list {
  display: flex;
  column-gap: 28px;
  margin-bottom: 50px;
}

.reviews-list-item {
  width: calc((100% - 56px) / 3);
  padding: 56px 24px 24px;
  background-color: var(--white);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
}

.reviews-list-avatar {
  margin-bottom: 18px;
}

.reviews-list-fullname {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
}

.reviews-list-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.leave-review-btn {
  display: block;
  min-width: 222px;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  border: 1px solid #fd9222;
  color: #111111;
  background-color: var(--white);
}

.leave-review-btn:hover,
.leave-review-btn:focus {
  color: var(--white);
  background-color: var(--orange);
}

/* ============ FOOTER STYLES ============ */
.page-footer-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.contact-block {
  font-style: normal;
}

.contact-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}

.contact-list-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--orange);
}
